
form{
    background-color: blue;
    /* justify-content: center; */
    margin:  5px 30%;
    border-radius: 30px;
}
h2{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-top: 40px;
    padding: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 70vh;
}
.cont1{
    flex-basis: 30%;
}
.cont2{
    flex-basis: 30%;
}
.cont1 img{
    border-radius: 100px;
    color: blue;
}
.cont1 input{
    font-size: 18px;
    color: #fff;
    border-top: none;
    border-radius: 5px;
    margin-top: 30px;
    padding-left: 30px;
    background-color: blue;

}

.cont2 input{
    font-size: 18px;
    color: #fff;
    border-top: none;
    border-radius: 5px;
    margin-top: 30px;
    padding-left: 30px;
    background-color: blue;

}
.cont1 button{
    margin-top: 30px;
    border: 2px solid blanchedalmond;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: #300210;
    color: #fff;
}
.cont2 button{
    margin-top: 30px;
    border: 2px solid blanchedalmond;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: #300210;
    color: #fff;

}
.cont1 button:hover{
    background: #e7dfe1;
    transform: translateY(-5px);
    color: #f38a8a;

}
.cont2 button:hover{
    background: #e7dfe1;
    transform: translateY(-5px);
    color: #f38a8a;

}

form input{
    margin-bottom: 30px;
    border-radius: 5px;
    border: 2px solid brown;
    font-family: helvetica;
    font-size: 25px;
    background: #000;
    color: #fff;
}
form input:hover{
    background: #e7dfe1;
    transform: translateY(-5px);
    color: #5c5656;
}

@media only screen and (max-width:800px){
    .container{
        width: 80%;
        padding: 0;
    }
}

@media only screen and (max-width:500px){
    .container .cont1 .cont2{
        width: 100%;
    }
}